body {
  padding-top: 60px;
  min-height: 100%;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
    min-height: 100%;

  }
}

/********** nav bar **********/

.navbar-fixed-top {
  position: static;
}

.nav {
  z-index:0;
}

.nav a{
  color: #7c645b;
  font-size: 28px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li{
  display: inline;
  font-family: 'Arimo', sans-serif;
}

/********** login **********/

#login {
  top: 5px;
  position: relative;
  height: 25vh;
  /*background-color: lightgray;*/
  /*min-height: 220px;*/
  /*max-height: 0px;*/
  z-index: 1;
}

/*
#email_div {
  position: absolute;
  z-index:2;
}

#password_div {
  z-index:2;
  position: absolute;
}
*/

/********** year selection **********/

.jumbotron{
  /*min-height: 900px;*/
  min-height: 110vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, .7);
}

.navbar-default {
  background-color: rgba(50,50,50,.7);
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 110vh;
  background-image: url("../images/background.jpg");
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
   -o-filter: blur(5px);
   -ms-filter: blur(5px);
   filter: blur(5px);
   z-index: -1;
}

.jumbotron .container{
  position: static;
  left: 0;
  right: 0;
  top: 50px;
  z-index: 0;
}

.jumbotron h1 {
  font-size: 65px;
  font-family: 'Rouge Script', cursive;
}

#years {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: text-top;
  margin-top: 20px;
}

.set {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.set p {
  font-family: "Rochester", cursive;
  line-height: 100px;
}

.container button {
  margin-top: 10%;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

#years button {
  width: 30px;
  justify-content: center;
}


.input-group p {
  font-size: 80px;
}

/********** GO Button **********/

#submit {
  background: radial-gradient(#86c677, #427237);
  border-color: rgba(0,0,0,0);
  border-radius: 25%;
  font-size: 60px;
  width: 160px;
  height: 90px;
  color: black;
  font-family: "Reem Kufi";
}

#submit a {
  color: black;
}

.thumbnail img{
  max-height: 30%;
  max-width: 30%;
}

.fit {
  height:100%;
  width:100%;
  object-fit:fill;
}